# Server Configuration
PORT_CHORD=8002
PORT_SEPARATION=8000
PUBLIC_URL=http://localhost:8000

# Model Paths (상대 경로 또는 절대 경로 지정용)
CHORD_MODEL_PATH=./models/4best_chord_model.pth
VOCAL_MODEL_PATH=./models/openunmix_vocal.pth
DRUM_MODEL_PATH=./models/openunmix_drum.pth
BASS_MODEL_PATH=./models/openunmix_bass.pth
OTHER_MODEL_PATH=./models/openunmix_other.pth